<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @review.customer_id %>
</p>

<p>
  <strong>Coffee shop:</strong>
  <%= @review.coffee_shop_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
